---
parameters:

  supported_extensions:
    - jp2
    - jpeg
    - jpg
    - m4v
    - mkv
    - mov
    - mp2
    - mp3
    - mp4
    - mpg
    - mxf
    - ogg
    - pdf
    - tif
    - tiff
    - ts
    - wav
    - zip

  # These fields must always be present or there will be no offload
  mandatory_resourcespace_fields:
    - title

  # If one of these fields contain one of the listed values, there will be no offload
  forbidden_resourcespace_fields:
    license:
      - Alle rechten voorbehouden
    rightsstatements:
      - In Copyright

  # Whether to actually delete originals (true) or not (false). Set to false when offloading production resources to QAS archive.
  delete_originals: false

  # Sorted from high > low resolution. The highest type image found for a resource will be used as replacement for the original when deleting (replacing) the original.
  replacement_image_types:
    - hpr
    - lpr
    - scr
    - pre
    - thm
    - thu

  # connector_url MUST end with a trailing slash
  connector_url: 'http://127.0.0.1:8000/'

  resourcespace_api:
    url: ''
    username: ''
    key: ''

  # All supported alternative image types in ResourceSpace, this is to check if the file to offload is not simply a replacement of an original from a previous offload.
  all_image_types:
    - hpr
    - lpr
    - scr
    - pre
    - thm
    - thu

  last_offload_timestamp_file: 'last_offload_timestamp.txt'

  # Certificate Authority (also known as 'cacert') may not work on its own depending on your system and PHP configuration,
  # that's why a cacert.pem is included in this project (from https://curl.haxx.se/docs/caextract.html).
  # Set override_certificate_authority to 'true' when we need to specify our own cacert.pem (can be a relative path or an absolute system path).
  override_certificate_authority: true
  ssl_certificate_authority_file: 'cacert.pem'

  output_folder: 'output'
  template_file: 'config/meemoo_metadata_template.xml'
  template_xsd_schema_file: 'config/viaa_metadatamodel_van_cp_naar_viaa.xsd'

  collections:
    key: 'publisher'
    values:
      - 'DEMUSEUMSTICHTING'
#      - 'DIVA'
#      - 'FOMU'
#      - 'MOMU'

  # Port only needs to be supplied if use_ssl is set to true, in that case it is usually 22
  # remote_directory MUST have both a leading and trailing slash
  ftp_server:
    use_ssl: true
    url: ''
    port: 22
    credentials:
      DEMUSEUMSTICHTING:
        username: ''
        password: ''
        remote_directory: '/incoming/borndigital/'
      DIVA:
        username: ''
        password: ''
        remote_directory: '/incoming/borndigital/'
      FOMU:
        username: ''
        password: ''
        remote_directory: '/incoming/borndigital/'
      MOMU:
        username: ''
        password: ''
        remote_directory: '/incoming/borndigital/'

  oai_pmh_api:
    url: 'https://archief-qas.viaa.be/mediahaven-oai/oai'
    metadata_prefix: 'mets'
    namespace: 'mets'
    media_id_xpath: 'mets:dmdSec/mets:mdWrap/mets:xmlData/MediaHAVEN_external_metadata/Internal/MediaObjectId'
    fragment_id_xpath: 'mets:dmdSec/mets:mdWrap/mets:xmlData/MediaHAVEN_external_metadata/Internal/FragmentId'
    resource_data_xpath: 'mets:dmdSec/mets:mdWrap/mets:xmlData/MediaHAVEN_external_metadata/MDProperties'
    resourcespace_id: 'dc_identifier_localid'
    title: 'dc_title'
    description: 'dc_description'
    credentials:
      DEMUSEUMSTICHTING:
        username: ''
        password: ''
      DIVA:
        username: ''
        password: ''
      FOMU:
        username: ''
        password: ''
      MOMU:
        username: ''
        password: ''

  # metadata_edit_url and export_url MUST end with a trailing slash
  rest_api:
    auth_url: 'https://archief-qas.viaa.be/auth/ropc.php'
    metadata_edit_url: 'https://archief-qas.viaa.be/mediahaven-rest-api/v2/media/'
    export_url: 'https://archief-qas.viaa.be/mediahaven-rest-api/v2/exports/'
    credentials:
      DEMUSEUMSTICHTING:
        username: ''
        password: ''
        client_id: ''
        client_secret: ''
      DIVA:
        username: ''
        password: ''
        client_id: ''
        client_secret: ''
      FOMU:
        username: ''
        password: ''
        client_id: ''
        client_secret: ''
      MOMU:
        username: ''
        password: ''
        client_id: ''
        client_secret: ''

  offload_status_field:
    key: 'offloadstatus'
    values:
      offload: 'Ready for offload'
      offload_pending: 'Pending'
      offloaded: 'Offloaded'
      offload_failed: 'Failed'
      offload_but_keep_original: 'Offload but keep original'
      offload_pending_but_keep_original: 'Pending but keep original'
      offloaded_but_keep_original: 'Offloaded but keep original'
      offload_failed_but_keep_original: 'Failed but keep original'
      offloaded_now_delete_original: 'Offloaded now delete original'

  resourcespace_metadata_fields:
    offload_timestamp_resource: 'offloadtime'
    offload_timestamp_metadata: 'offloadtimemeta'
    offload_error: 'offloaderror'
    meemoo_asset_url: 'linkoffload'
    meemoo_image_url: 'linkoriginal'

  conversion_table:
    cp:
      DEMUSEUMSTICHTING: 'MoMu'
      DIVA: 'DIVA, Museum voor Edelsmeedkunst Juwelen en Diamant'
      FOMU: 'FOMU'
      MOMU: 'MoMu'
    cp_id:
      DEMUSEUMSTICHTING: ''
      DIVA: ''
      FOMU: ''
      MOMU: ''
    original_cp:
      DEMUSEUMSTICHTING: 7
      DIVA: 3
      FOMU: 1
      MOMU: 2
    rightsstatements:
      Publiek domein:
        - VIAA-ONDERWIJS
        - VIAA-ONDERZOEK
        - VIAA-BIBLIOTHEKEN
        - VIAA-INTRAMUROS
        - VIAA-INTRA_CP-CONTENT
        - VIAA-INTRA_CP-METADATA-ALL
        - VIAA-PUBLIEK-METADATA-LTD
        - VIAA-PUBLIEK-METADATA-ALL
        - VIAA-PUBLIEK-CONTENT
        - Publiek domein
        - CC-BY-SA-METADATA
        - CC-BY-SA-CONTENT
        - CC BY-ND-METADATA
        - CC BY-ND-CONTENT
        - CC BY-NC-METADATA
        - CC BY-NC-CONTENT
        - CC BY-NC-SA-METADATA
        - CC BY-NC-SA-CONTENT
        - CC BY-NC-ND-METADATA
        - CC BY-NC-ND-CONTENT
      In Copyright - Educational Use Permitted:
        - VIAA-ONDERWIJS
    license:
      Publiek domein:
        - VIAA-ONDERWIJS
        - VIAA-ONDERZOEK
        - VIAA-BIBLIOTHEKEN
        - VIAA-INTRAMUROS
        - VIAA-INTRA_CP-CONTENT
        - VIAA-INTRA_CP-METADATA-ALL
        - VIAA-PUBLIEK-METADATA-LTD
        - VIAA-PUBLIEK-METADATA-ALL
        - VIAA-PUBLIEK-CONTENT
        - Publiek domein
        - CC-BY-SA-METADATA
        - CC-BY-SA-CONTENT
        - CC BY-ND-METADATA
        - CC BY-ND-CONTENT
        - CC BY-NC-METADATA
        - CC BY-NC-CONTENT
        - CC BY-NC-SA-METADATA
        - CC BY-NC-SA-CONTENT
        - CC BY-NC-ND-METADATA
        - CC BY-NC-ND-CONTENT
      CC-BY:
        - VIAA-ONDERWIJS
        - VIAA-ONDERZOEK
