---
parameters:

  resourcespace_api:
    url: ''
    username: ''
    key: ''

  last_offload_timestamp_file: 'last_offload_timestamp.txt'

  template_folder: 'config'
  template_file: 'meemoo_metadata_template.xml'
  output_dir: 'output'

  allowed_extensions:
    - png
    - jpg
    - jpeg
    - tif
    - tiff

  # Port only needs to be supplied if use_ssl is set to true, in that case it is usually 22
  # remote_directory MUST have both a leading and trailing slash
  ftp_server:
    use_ssl: true
    url: ''
    port: 22
    credentials:
      DEMUSEUMSTICHTING:
        username: ''
        password: ''
        remote_directory: ''

  collections:
    key: 'publisher'
    values:
      - 'DEMUSEUMSTICHTING'
#      - 'MOMU'
#      - 'FOMU'
#      - 'DIVA'

  offload_status:
    key: 'offloadstatus'
    values:
      offload: 'Ready for offload'
      offload_but_keep_original: 'Offload but keep original'
      offloaded: 'Offloaded'
      offload_pending: 'Pending'

  conversion_table:
    cp_id:
      FOMU: 1
      MOMU: 2
      DIVA: 3
      DEMUSEUMSTICHTING: 7
    original_cp:
      FOMU: 1
      MOMU: 2
      DIVA: 3
      DEMUSEUMSTICHTING: 7
    title:
      Multi Test: 'the MULTITEST THING'
